
.navbar
{
    background-color: #fff;
    height: 5ex;
    border:1px solid #EDEDF0;
}
.navbar .button a {
  color:#fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  margin-top:-2ex;
}
header.header img {
    width: 100px;
    margin-top:-2.5ex;
}

  /* ---------  Begin play video page ---------   */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
   position: relative;
   right: 1rem;
}

.play-video video {
    width: 100%;
}
.side-video-list  {
    margin-bottom: 8px;

}
.side-video-list video {
    width:100%;
    border-radius: 20px;
    border:1px solid #2CA1D5;

}
.vid-info {
    position: relative;
    right:-0.5rem;

}
.vid-info p{
  position:relative;
  right:15px;
}
.infos-profs{
    font-size: 12px;
    font-weight: 600;
    position: relative;
    right:13px;
    top: -0.5rem;
}
.side-video-list .vid-info  {
    align-items: flex-start;
    margin-left: 4px;
}
.side-video-list .vid-info a {
    color: #000;
    font-weight: 600;
    display: block;
    text-decoration: none;
     margin-top:0.3rem;
}
 /* ---------  End play  video page ---------   */

 .vid-infos{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	width: 200px;
	overflow: hidden;
}
.play-video h3{
	font-weight: 600;
	font-size: 22px;
}
.play-video  .play-video-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 14px;
}
.play-video  .play-video-info div{
    display: inline-flex;
    align-items: center;
}

.play-video hr {
	border:0;
	height: 1px;
	background: #ccc;
	margin: 10px ;
}
.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div {
    flex:1;
}

.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div span {
    color: #000;
    font-weight: 600;
    color: #5a5a5a ;

}
.publisher div h6 {
    font-size: 13px;
    color: #FF0000;
}
.publisher button {
 border: 0;
 outline: 10;
 border-radius: 20px;

}
.choix
{
 border: 0;
}
.choix button
{
  border: 0;
  outline: 10;
  border-radius: 20px;
  }

.description {
    padding-left: 55px;
    margin:15px 0;
}

.description span {
    font-size: 14;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.description p {
    font-size: 14;
    margin-bottom: 5px;
    color: #5a5a5a;
}
 .description h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-commentaire {
    display: flex;
    align-items: center;
    margin:30px 0;
}
.add-commentaire .btn-circle {
    width: 100%;
    position:relative;
    bottom:30px;
    right:25px;
}
.add-commentaire input {
    border: 0;
    outline: 0;
    position: relative;
    bottom: 1.4rem;
    border-bottom:1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment {
    display: block;
    position: relative;
    align-items: center;
    margin: 20px 0;
    bottom:1rem;
}
.old-comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3 {
    font-size: 14px;
    margin-bottom: 2px;
    position:relative;
    right:29px;
}
.old-comment p {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    position:relative;
    left:29px;
    bottom:12px;
}

#search{
    width: 35rem;
    position: absolute;
    top:30px;
    left:55%;
    transform: translate(-50%, -50%);
}
/* Rechercher barre nouveau  */
.container .search-box {
    border:1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
  }
  .container .search-box input {
    border:0;
    outline: 0;
    background: transparent;
  }
  .container{
    width: 35rem;
    position: absolute;
    top:4.4rem;
    left:55%;
    transform: translate(-50%, -50%);
  }
  .container .flex-div button
 {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;
    outline: 0;
 }
 .poste a {
    text-decoration: none;
  }
  i{
    display: block;
    position: relative;
  }
  .containers{
    background:#ffffff;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
 }

 .card-header .similaire{
    text-align: center;
    position: relative;
    bottom: 12px;
    font-weight: 600;
    font-size: 20px;
 }
 #right-sidebar .card-header{
   border: 1px solid;
   border-radius: 20px;
 }

    /*   button partager*/
    .popup .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }

    .popup .content {
    position:absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    height: 355px;
    width: 300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    }

    .popup .content h5 {
        font-size: 15px;
        font-weight:600;
        margin-right: 35rem;
        color: #FF0000;
     }
    .popup .content p {
       position: relative;

    }
    .popup .content strong {
      position: relative;
       right:3rem;
       text-decoration: none;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif ;
   }
   .popup .content strong a{
     text-decoration: none;
     color: #000;
 }
    .popup .close-btn {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    }
    .popup.active .overlay {
      display: block;
    }
    .popup.active .content{
      transition:all 900ms ease-in-out;
      transform: translate(-50%,-50%) scale(1);
    }
      /* Fin  button partager*/

    @media screen and (max-width: 720px) {
      body
      {
        display: block;
        float: none;
      }

    .poste
      {
        position: relative;
        left: 15px;
      }
     #right-sidebar .card-header{
         width: 90%;
         left: 15px;
         position: relative;
         bottom: 1rem;
      }
      header.header {
       background-color: #000;
          }
  .btn-outline-primary {
    position: relative;
    width: 30%;
    left: 15px;
  }

 .btn-outline-success {
    position: relative;
    width: 30%;
    margin-bottom: 10px;
    left: 25px;
 }
 .btn-outline-danger {
    position: relative;
    width: 30%;
    left: 30px;
}
  .container {
    position: relative;
    width: auto;
    left: 50%;
    top:1.3rem;

  }

  .card-header {
    height: 100%;
  }
  #live{
    margin-top: 10px;
   }
   #card{
   }
   #nav{
    width:100%;
   }
   .navbar-light img{
      /* background-color:red; */
   }
   .dropleft{
     position: relative;
     right: 5px;
   }
   .play-video{
       width: 164%;
      overflow-x: hidden;
     }
     #player_id
     {
       left: 2px;
      overflow-x: hidden;
     }
    .player-wrapper{

    }

   .containers{
       width: auto;
       overflow-x: hidden;
   }
   #likes
   {
       width:0;
     }
     #btMoins{
       position: relative;
       right: 4.5rem;
       top: 1rem;
     }
     #myBtn{
      position: relative;
      right: 4.2rem;
      top: 1rem;
     }
     #btPlus{
      position: relative;
      right: 4.2rem;
      top: 1rem;

     }

   .side-video-list
    {
      width:100%;
      left:0.5%;
   }
   .vid-info
   {
     position: relative;
     width:99%;
   }
   .infos-profs{
        position: relative;
        top: 2px;
   }
   #right-sidebar
   {
     display: contents;
     max-width: 25rem;
   }
  .old-comment  .row [class*="col-2"]
  {
   
  }
  .old-comment  .row [class*="col-10"]
  {
     margin-left: 8rem;
     bottom: 1.8rem;
  }
    .old-comment .sms
    {
      position: relative;
      bottom: 2rem;
    }
    .popup .content
     {
      display: block;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      background: #fff;
      width: 400px;
      height: 400px;
      z-index: 2;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 19.7rem;
    }
    .choix #la{
      position: relative;
      top: 0.5rem;
    }
    
    }
    @media screen and (min-width: 720px)
    {
        .container {
          width: 40%;
        }
        .old-comment  .row [class*="col-10"]
  {
    margin-left: 8rem;
    bottom: 1.8rem;
  }
  .old-comment .sms
    {
      position: relative;
      bottom: 2rem;
    }
      }

      .side-video-list {
          position: relative;
          right:0.8rem;
        }

      /* Debuts les Effects  sur les Commentaires */

      .effect-3{
        border: 0;
        padding: 7px 0;
        border-bottom: 1px solid #ccc;
      }
      .effect-3 ~ .focus-border{
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          z-index: 99;
      }
      .effect-3 ~ .focus-border:before, .effect-3 ~ .focus-border:after{
        content: "";
         position: absolute;
         left: 0;
         width: 0;
         height: 100%;
         margin-left: 3rem;
         background-color: #2CA1D5;
          transition: 0.4s;
        }
         .effect-3 ~ .focus-border:after{
           left: auto;
           right: 0;
          }
        .effect-3:focus ~ .focus-border:before, .effect-3:focus ~ .focus-border:after{
          width: 50%;
          transition: 0.4s;
        }

        .btn-commentaire {
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          height: 25px;
          width: 25px;
          position: relative;
          color: #fff;
          top: 20px;
          background-color: #7eba0d;
          padding: 17px 60px;
          border-radius: 22px;
          margin: 0 auto;
        }

        .btn-commentaire span {
          position: relative;
          bottom: 12px;
          z-index: 1;
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          margin-left: -1.5rem;
        }

        .btn-commentaire:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 490%;
          width: 140%;
          background: #2CA1D5;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
          transform: translateX(-98%) translateY(-25%) rotate(45deg);
        }

        .btn-commentaire:hover:after {
          -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
          transform: translateX(-9%) translateY(-25%) rotate(45deg);
        }
          /* Fin les Effects  sur les Commentaires */
