@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F8F9FA;
}

.wrapper {
    max-width: 40%;
    min-height: 50%;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    margin-top: -6rem;  
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #2CA1D5;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.wrapper .btn {
    box-shadow: none;
    display: block;
    margin: auto;
    width: 50%;
    height: 40px;
    background-color:#7eba0d;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
 text-decoration: underline;
    font-size: 0.8rem;
    font-weight: 600;
    color:#2CA1D5;
}

.wrapper a:hover {
    color: #2CA1D5;
}
.wrapper .checkbox {
    font-weight: 700;
    color:#000;
}
.wrapper .eye {
 color:#7eba0d;
 position:all;
 margin-right: 10px;
}
#hidde1{
 display: none;
}
#hidde{
 display: none;
}
.header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

@media(max-width: 700px) {
    .wrapper {
        max-width:350px;  
    }
}














/*-----------------------------------------------------------------------------------

    Template Name: App landing page Bootstrap5 HTML5 Template
    Template URI: site.com
    Description: App landing page Bootstrap5 HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS
	02. Header
    03. Hero
	04. Footer

-----------------------------------------------------------------------------------*/
/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #747E88;
}





* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #283747;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #747E88;
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.success {
  color: #7CB637;
}

.error {
  color: #FF4B22;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  padding: 17px 30px;
  margin-bottom: 20px;
  color: #868AAA;
  -webkit-box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:focus,
textarea:focus {
  border-color: #2CA1D5;
}

.back-to-top {
  width: 45px;
  height: 45px;
  background: #2CA1D5;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.back-to-top.btn-hover {
  position: fixed;
  z-index: 99999;
}

.back-to-top:hover {
  color: #fff;
}

*:focus {
  outline: none;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 17px 35px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  color: #283747;
  cursor: pointer;
  z-index: 5;
  background: #fff;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  color: #2CA1D5;
}

.btn-hover {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-hover:hover::after {
  width: 100%;
}

/*===== All Section Title Style =====*/
.section-title h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 60px;
}


/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #7eba0d #7eba0d #7eba0d
  border-radius: 20%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #F9F9F9;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #F9F9F9;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */


@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 15px 0;
}

.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 150px;
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 130px;
  }
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

.navbar-nav .nav-item a {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 8px 0;
    color: #283747;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 6px 0;
    color: #283747;
  }
}

.navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
  color: #2CA1D5;
}

.navbar-nav .nav-item a.header-btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: #2CA1D5;
  color: #fff;
  display: inline-block;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #747E88;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #747E88;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #2CA1D5;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.sticky .navbar-toggler .toggler-icon {
  background-color: #283747;
}

.sticky .navbar-nav .nav-item a {
  color: #283747;
}

.sticky .navbar-nav .nav-item a::before {
  background-color: #2CA1D5;
}

.sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
  color: #2CA1D5;
}

.sticky .navbar-nav .nav-item a.header-btn {
  color: #fff;
}

/*============================
hero area css
============================= */
.hero-area {
  background-image: url("../images/hero-bg.jpg");
  position: relative;
  z-index: 1;
  padding: 280px 0 320px;
}

@media only screen and (min-width: 1400px) {
  .hero-area {
    padding: 200px 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area {
    padding: 200px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area {
    padding: 220px 0px 180px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 220px 0px 180px;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 220px 0px 180px;
  }
}

.hero-area::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(40, 55, 71, 0.97);
  z-index: -1;
}

.hero-area .hero-content h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  color: #fff;
}

@media (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 42px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 55px;
    line-height: 65px;
  }
}

.hero-area .hero-content p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 35px;
}

.hero-area .hero-content a.main-btn {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hero-area .hero-content a.main-btn:hover {
  background: #2CA1D5;
  color: #fff;
}

.hero-area .hero-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-left {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-left {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-left {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-left {
    display: none;
  }
}

.hero-area .hero-left .shape {
  position: absolute;
  right: -40px;
  bottom: -40px;
  z-index: -1;
}

/*============================
skill css
============================= */
.skill-area {
  position: relative;
  z-index: 1;
}

.skill-area .single-skill {
  padding: 35px 30px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 30px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 30px rgba(229, 229, 229, 0.35);
}

.skill-area .single-skill:hover {
  -webkit-box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
  box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
}

.skill-area .single-skill .skill-icon {
  width: 87px;
  height: 87px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 33px rgba(229, 229, 229, 0.68);
  box-shadow: 0px 4px 33px rgba(229, 229, 229, 0.68);
}

.skill-area .single-skill .skill-icon i {
  font-size: 40px;
  color: #283747;
}

.skill-area .single-skill .skill-content h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 25px;
}

.skill-area .single-skill .skill-content p {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

/*============================
course css
============================= */
.course-area .single-course {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  overflow: hidden;
  margin-bottom: 30px;
}

.course-area .single-course:hover {
  -webkit-box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
  box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
}

.course-area .single-course:hover .course-img a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.course-area .single-course .course-img {
  overflow: hidden;
}

.course-area .single-course .course-img a {
  display: block;
}

.course-area .single-course .course-img a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.course-area .single-course .course-info {
  padding: 30px 28px;
}

.course-area .single-course .course-info h4 a {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 30px;
}

.course-area .single-course .course-info h4 a:hover {
  color: #2CA1D5;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-area .single-course .course-info h4 a {
    font-size: 18px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course-area .single-course .course-info h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .course-area .single-course .course-info h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}

.course-area .single-course .course-info .course-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-area .single-course .course-info .course-meta .meta-item {
  margin-bottom: 8px;
}

.course-area .single-course .course-info .course-meta .meta-item i {
  font-size: 13px;
  color: #283747;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #D6D6D6;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.course-area .single-course .course-info .course-meta .meta-item span {
  font-size: 14px;
  color: #283747;
  margin-right: 10px;
}

.course-area .single-course .course-info .course-meta .price span {
  font-size: 16px;
  font-weight: 500;
  color: #2CA1D5;
}

.course-area .course-pagination .pagination li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  background: #fff;
  color: #283747;
  border-color: #2CA1D5;
}

.course-area .course-pagination .pagination li a:hover {
  color: #fff;
  background: #2CA1D5;
}

.course-area .single-course-wrapper .course-img img {
  width: 100%;
  border-radius: 10px;
}

.course-area .course-included ul li {
  line-height: 1.8;
}

.course-area .course-included ul li i {
  color: #2CA1D5;
  margin-right: 10px;
  font-weight: 700;
}

.course-area .course-content .single-accordion {
  margin-bottom: 15px;
  border: 1px solid rgba(214, 214, 214, 0.3);
  border-radius: 4px;
}

.course-area .course-content .single-accordion .accordion-btn button {
  padding: 15px 20px;
  padding-right: 36px;
  border: none;
  background: none;
  font-weight: 500;
  color: #283747;
  position: relative;
}

.course-area .course-content .single-accordion .accordion-btn button::after {
  content: "\ea58";
  font: normal normal normal 1em/1 "LineIcons";
  position: absolute;
  right: 20px;
  top: 18px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.course-area .course-content .single-accordion .accordion-btn button.collapsed::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.course-area .course-content .single-accordion .accordion-content {
  padding: 10px 20px 30px;
}

.course-area .right-sidebar .course-info {
  background: #f5f5f5;
  padding: 50px 30px;
  border-radius: 4px;
}

.course-area .right-sidebar .course-info ul li {
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(214, 214, 214, 0.5);
}

.course-area .right-sidebar .course-info ul li span.text-right {
  color: #283747;
}

.course-area .right-sidebar .course-info ul li span.text-right a {
  color: inherit;
}

.course-area .right-sidebar .course-info ul li span.text-right a:hover {
  color: #2CA1D5;
}

.course-area .right-sidebar .course-info .main-btn {
  background: #2CA1D5;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
}

.course-area .right-sidebar .course-category ul li {
  padding: 15px 0;
  border-bottom: 1px solid #f5f5f5;
}

.course-area .right-sidebar .course-category ul li a {
  color: #747E88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-area .right-sidebar .course-category ul li a:hover {
  color: #2CA1D5;
}

.course-area .right-sidebar .course-category ul li a i {
  color: #2CA1D5;
  font-size: 12px;
}

.view-all-btn a {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 36px;
  border: 2px solid #2CA1D5;
  color: #283747;
}

/*============================
testimonial css
============================= */
.testimonial-area .testimonial-wrapper .thumbnails {
  margin-bottom: 40px;
}

.testimonial-area .testimonial-wrapper .thumbnails li {
  margin: 0 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

@media (max-width: 767px) {
  .testimonial-area .testimonial-wrapper .thumbnails li {
    margin: 0 5px;
  }
}

.testimonial-area .testimonial-wrapper .thumbnails li.tns-nav-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.testimonial-area .testimonial-wrapper .thumbnails li img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .testimonial-area .testimonial-wrapper .thumbnails li img {
    width: 75px;
    height: 75px;
  }
}

.testimonial-area .testimonial-wrapper .testimonial-content-wrapper {
  text-align: center;
}

.testimonial-area .testimonial-wrapper .testimonial-content-wrapper .testimonial-info {
  margin-bottom: 30px;
}

.testimonial-area .testimonial-wrapper .testimonial-content-wrapper .testimonial-info h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testimonial-area .testimonial-wrapper .testimonial-content-wrapper .testimonial-info p {
  font-weight: 300;
}

.testimonial-area .testimonial-wrapper .testimonial-content-wrapper .testimonial-content p {
  color: #283747;
}

.testimonial-area .tns-controls {
  text-align: center;
  margin-top: 50px;
}

.testimonial-area .tns-controls button {
  border: none;
  background: rgba(242, 169, 44, 0.15);
  padding: 10px 15px;
  color: #2CA1D5;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.testimonial-area .tns-controls button:hover {
  background: #2CA1D5;
  color: #fff;
}

/*============================
welcome css
============================= */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-area .welcome-content {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .welcome-area .welcome-content {
    margin-bottom: 50px;
  }
}

.welcome-area .welcome-content .content a {
  font-size: 18px;
  color: #2CA1D5;
  line-height: 2;
  border-bottom: 1.5px solid #2CA1D5;
}

.welcome-area .welcome-content .content a i {
  display: inline-block;
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.welcome-area .welcome-content .content a:hover i {
  padding-left: 20px;
}

/*============================
categories css
============================= */
.categories-area .category-wrapper .single-category {
  padding: 50px 15px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 50px rgba(229, 229, 229, 0.35);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.categories-area .category-wrapper .single-category:hover {
  -webkit-box-shadow: 0px 15px 50px rgba(229, 229, 229, 0.8);
  box-shadow: 0px 15px 50px rgba(229, 229, 229, 0.8);
}

.categories-area .category-wrapper .single-category i {
  font-size: 40px;
  color: #283747;
  margin-bottom: 30px;
}

.categories-area .category-wrapper .single-category h3 {
  font-size: 30px;
  font-weight: 500;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories-area .category-wrapper .single-category h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories-area .category-wrapper .single-category h3 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .categories-area .category-wrapper .single-category h3 {
    font-size: 20px;
  }
}

/*============================
video css
============================= */
.video-area {
  position: relative;
  z-index: 1;
}

.video-area .video-wrapper {
  position: absolute;
  width: 48%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-area .video-wrapper {
    width: 100%;
    position: static;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media (max-width: 767px) {
  .video-area .video-wrapper {
    width: 100%;
    position: static;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.video-area .video-wrapper .video-btn {
  position: absolute;
}

.video-area .video-wrapper .video-btn .play-btn {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 50%;
  color: #2CA1D5;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.video-area .video-wrapper .video-btn .play-btn:hover::after {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.video-area .video-wrapper .video-btn .play-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.video-area .video-content-wrapper {
  padding: 75px 0;
  margin-left: 20px;
}

.video-area .video-content-wrapper .specialty-wrapper .specialty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .video-area .video-content-wrapper .specialty-wrapper .specialty-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-area .video-content-wrapper .specialty-wrapper .specialty-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-icon-wrapper .specialty-icon {
  width: 87px;
  height: 87px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-box-shadow: 0px 14px 33px rgba(229, 229, 229, 0.8);
  box-shadow: 0px 14px 33px rgba(229, 229, 229, 0.8);
}

.video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-icon-wrapper .specialty-icon i {
  font-size: 35px;
  color: #283747;
}

@media (max-width: 767px) {
  .video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-icon-wrapper .specialty-icon {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-icon-wrapper .specialty-icon {
    margin-bottom: 0px;
  }
}

.video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-content h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.video-area .video-content-wrapper .specialty-wrapper .specialty-item .specialty-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

/*============================
team css
============================= */
.team-area .single-team {
  border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0px 0px 50px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 50px rgba(229, 229, 229, 0.35);
}

.team-area .single-team:hover .team-img .social-link {
  opacity: 1;
  visibility: visible;
  height: 145px;
}

.team-area .single-team .team-img {
  position: relative;
  overflow: hidden;
}

.team-area .single-team .team-img img {
  width: 100%;
}

.team-area .single-team .team-img .social-link {
  position: absolute;
  height: 0;
  left: 0px;
  bottom: 0px;
  background: #fff;
  padding: 10px 5px;
  border-left: 2px solid #2CA1D5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.team-area .single-team .team-img .social-link ul li {
  margin-bottom: 10px;
}

.team-area .single-team .team-img .social-link ul li:last-child {
  margin-bottom: 0;
}

.team-area .single-team .team-img .social-link ul li a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283747;
}

.team-area .single-team .team-img .social-link ul li a:hover {
  color: #2CA1D5;
}

.team-area .single-team .team-info {
  padding: 30px 10px;
}

.team-area .single-team .team-info h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}



/*============================
blog css
============================= */
.blog-area .single-blog {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
}

.blog-area .single-blog:hover {
  -webkit-box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.7);
  box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.7);
}

.blog-area .single-blog:hover .blog-img a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.blog-area .single-blog .blog-img {
  overflow: hidden;
}

.blog-area .single-blog .blog-img a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.blog-area .single-blog .blog-content {
  padding: 30px 25px;
}

.blog-area .single-blog .blog-content h4 a {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-area .single-blog .blog-content h4 a:hover {
  color: #2CA1D5;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 18px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}

/*============================
contact css
============================= */
.contact-area {
  background: #FBFBFB;
  padding: 120px 0;
  position: relative;
  z-index: 1;
}

.contact-area .map-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  text-align: center;
  z-index: -1;
}

.contact-area .contact-content h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 35px;
}

.contact-area .contact-content p {
  margin-bottom: 35px;
  padding-right: 30px;
}

.contact-area .contact-content h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-area .contact-content h4 a {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-area .contact-form-wrapper form input, .contact-area .contact-form-wrapper form textarea {
  padding: 16px 20px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #747E88;
}

.contact-area .contact-form-wrapper form input::-webkit-input-placeholder, .contact-area .contact-form-wrapper form textarea::-webkit-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input:-ms-input-placeholder, .contact-area .contact-form-wrapper form textarea:-ms-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input::-ms-input-placeholder, .contact-area .contact-form-wrapper form textarea::-ms-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input::placeholder, .contact-area .contact-form-wrapper form textarea::placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input:focus, .contact-area .contact-form-wrapper form textarea:focus {
  border-color: #2CA1D5;
}

.contact-area .contact-form-wrapper form button {
  padding: 16px 40px;
  border-radius: 5px;
  background: #2CA1D5;
  color: #fff;
}

.page-banner {
  position: relative;
  z-index: 1;
}

.page-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.page-banner .banner-content .breadcrumb {
  background: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-banner .banner-content .breadcrumb li {
  color: #2CA1D5;
}

.page-banner .banner-content .breadcrumb li::before {
  color: #fff;
}

.page-banner .banner-content .breadcrumb li a {
  color: #fff;
}

.page-banner .banner-content .breadcrumb li a:hover {
  color: #2CA1D5;
}

/*============================
footer css
============================= */
.footer-area .footer-widget {
  margin-bottom: 55px;
}

.footer-area .footer-widget .logo {
  margin-bottom: 20px;
}

.footer-area .footer-widget h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 35px;
}

.footer-area .footer-widget ul li a {
  font-size: 16px;
  line-height: 35px;
  color: #747E88;
}

.footer-area .footer-widget ul li a:hover {
  color: #2CA1D5;
}

.footer-area .footer-widget ul li p {
  font-size: 16px;
  line-height: 35px;
  color: #747E88;
}

.footer-area .footer-credit {
  padding: 35px 0;
  border-top: 1px solid #D6D6D6;
}

@media (max-width: 767px) {
  .footer-area .footer-credit .copy-right {
    margin-bottom: 20px;
  }
}

.footer-area .footer-credit .copy-right p {
  font-weight: 300;
}

.footer-area .footer-credit .copy-right p a {
  color: inherit;
}

.footer-area .footer-credit .footer-social ul li {
  margin: 0 15px;
}

.footer-area .footer-credit .footer-social ul li:last-child {
  margin-right: 0;
}

.footer-area .footer-credit .footer-social ul li a {
  color: #747E88;
  display: block;
}

.footer-area .footer-credit .footer-social ul li a:hover {
  color: #2CA1D5;
}
/*# sourceMappingURL=style.css.map */


.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}


.top-0{
  top: 0px;
}

.left-0{
  left: 0px;
}

.top-full{
  top: 100%;
}

.top-\[150\]{
  top: 150;
}

.left-\[10\%\]{
  left: 10%;
}

.left-\[30\%\]{
  left: 30%;
}

.top-\[200\]{
  top: 200;
}

.left-\[40\%\]{
  left: 40%;
}

.top-\[120px\]{
  top: 120px;
}

.left-\[50\%\]{
  left: 50%;
}

.top-\[34\%\]{
  top: 34%;
}

.left-\[48\%\]{
  left: 48%;
}

.top-\[60\%\]{
  top: 60%;
}

.left-\[80px\]{
  left: 80px;
}

.top-\[55\%\]{
  top: 55%;
}

.left-\[38\%\]{
  left: 38%;
}

.bottom-\[25px\]{
  bottom: 25px;
}

.left-\[13\%\]{
  left: 13%;
}

.bottom-\[200\]{
  bottom: 200;
}

.left-1\/4{
  left: 25%;
}

.bottom-20{
  bottom: 5rem;
}

.left-\[35\%\]{
  left: 35%;
}

.bottom-1\/4{
  bottom: 25%;
}

.left-\[42\%\]{
  left: 42%;
}

.right-0{
  right: 0px;
}

.-top-5{
  top: -1.25rem;
}

.right-7{
  right: 1.75rem;
}

.top-1\/2{
  top: 50%;
}

.left-1\/2{
  left: 50%;
}

.top-4{
  top: 1rem;
}

.right-8{
  right: 2rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-8{
  bottom: 2rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mr-auto{
  margin-right: auto;
}

.ml-5{
  margin-left: 1.25rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-\[52px\]{
  margin-top: 52px;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-\[44px\]{
  margin-top: 44px;
}

.mt-\[36px\]{
  margin-top: 36px;
}

.mr-3{
  margin-right: 0.75rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-\[800px\]{
  height: 800px;
}

.h-auto{
  height: auto;
}

.h-7{
  height: 1.75rem;
}

.h-11{
  height: 2.75rem;
}

.h-9{
  height: 2.25rem;
}

.w-full{
  width: 100%;
}

.w-1\/2{
  width: 50%;
}

.w-7{
  width: 1.75rem;
}

.w-11{
  width: 2.75rem;
}

.w-9{
  width: 2.25rem;
}

.w-1\/3{
  width: 33.333333%;
}

.max-w-\[525px\]{
  max-width: 525px;
}

.max-w-full{
  max-width: 100%;
}

.max-w-\[370px\]{
  max-width: 370px;
}

.max-w-\[405px\]{
  max-width: 405px;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: var(--tw-transform);
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
}

.translate-x-full{
  --tw-translate-x: 100%;
  transform: var(--tw-transform);
}

.transform{
  transform: var(--tw-transform);
}

.resize-none{
  resize: none;
}

.flex-wrap{
  flex-wrap: wrap;
}



.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.overflow-hidden{
  overflow: hidden;
}
.rounded-full{
  border-radius: 9999px;
}

.rounded-xl{
  border-radius: 0.75rem;
}


.p-7{
  padding: 1.75rem;
}

.p-6{
  padding: 1.5rem;
}

.p-4{
  padding: 1rem;
}
.text-\[\#F94F4F\]{
  --tw-text-opacity: 1;
  color: rgba(249, 79, 79, var(--tw-text-opacity));
}






