@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F8F9FA;
}

.wrapper {
    max-width: 40%;
    min-height: 50%;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    margin-top: -3rem;
   
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #2CA1D5;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.wrapper .btn {
    box-shadow: none;
    display: block;
    margin: auto;
    width: 50%;
    height: 40px;
    background-color:#7eba0d;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
 text-decoration: underline;
    font-size: 0.8rem;
    font-weight: 600;
    color:#2CA1D5;
}

.wrapper a:hover {
    color: #2CA1D5;
}
.wrapper .checkbox {
    font-weight: 700;
    color:#000;
}
.wrapper .eye {
 color:#7eba0d;
 position:all;
 margin-right: 10px;
}
#hidde1{
 display: none;
}
#hidde{
 display: none;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        max-width:320px;   
    }

    #large{
        width:16rem;
        position: relative;
        right: 18px;
    }
}