
div#topbar > #sections_btn_holder{
  position: absolute;
  margin-top: -3ex;
  right: 80px;

}

div#topbar >#sections_panel {
  position: absolute;
  width: 265px;
  height:0;
  background: #D2D2D2;
  top:50px;
  right:10px;
  overflow: hidden;
  z-index: 10000;
  transition: height 0.3s linear 0s;
  border-radius: 6px;
  box-shadow: 1px 2px;
}

div#topbar > #sections_panel > div {
  background:#fff;
  padding: 10px;
  height:260px;
  margin:2px;
}
div#topbar > #sections_panel > div > a > span {
  color: #000;
  font-size:"10";
}

div#topbar > #sections_panel > div > a > span > img {
margin-top: 0.5rem;
}

.navbar
{ 
    background-color: #fff;
    height: 5ex;
    border:1px solid #EDEDF0;
    
}


.navbar .button a {
  background-color: blue;
  color:#fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  margin-top:-2ex;
}

header.header img {
    width: 35px;
    margin-top:-2.5ex;
}

.container{
  width: 50%;
  position: absolute;
  top:11.2%; 
  left:55%;
  transform: translate(-50%, -50%);
}
.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search {
  width: 100%;
  border:1px solid #2CA1D5;
  border-right: none;
  padding: 5px;
  height: 50px;
  outline: none;
  color: #9dbfaf;
  
}
.search:focus{
color: #000;
box-shadow: 0 0 2px #2CA1D5;
}

.btn-outline-light{
  width: 55px;
  height: 50px;
  border:1px solid #2CA1D5;
  background:#D2D2D2;
  color: #fff;
  cursor: pointer;
  font-size: 20px; 
} 


.col {
  color:#2CA1D5 ;
}

.card-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-left: 2.4rem;
}


.card-body img {
  width: 100px;
  height: 50p;
  object-fit: cover;
  margin-left:-2.5rem; 
  clip-path: circle();
} 


h6 {
  text-align: center;
  margin-left: 2.4rem;
  margin-top: -2.5rem;
}

  @media(max-width: 800px) {
    .poste{
         width:100px; 
    }
    .container {
       margin-top: 20px;
       width: 60%;
       margin-left: 20px;
    }
    .btn-outline-danger {
      width: 85%;
      margin-top: 10px
    }

  }


