.play-container{
  margin-left: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.play-video{
  width: 52rem;
  margin:auto;
}

.right-sidebar{
margin-right:2rem;
}
.play-video video{
 width: 100%;
}

.card{
	width: 14rem;
}
.side-video-list{

	display: flex;
	justify-content: space-between; 
	margin-left:2rem;	 
    
}
.side-video-list  a {
 text-decoration: none;
 color: #000;
}
.vid-infos{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	width: 200px;
	overflow: hidden;
}
.play-video h3{
	font-weight: 600;
	font-size: 22px;
}
.play-video  .play-video-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 8px;
	font-size: 14px;
	color: #5a5a5a;
}
.play-video  .play-video-info a {
	color: #5a5a5a;
	
}
.play-video-info i {
	color: red;
}
.play-video hr {
	border:0;
	height: 1px;
	background: #ccc;
	margin: 10px ;
}  
 .publisher {
 	display: flex;
 	align-items: center;
 	margin-top: 20px;
 }
  .publisher div{
   flex: 1;
   line-height: 18px;

    }
.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div span{
	color: #000;
    font-weight: 600;
    color: #5a5a5a ;
}

.publisher div h6{
	font-size: 13px;
    color: #FF0000;
}
.publisher button{
		background: #2CA1D5;;
		color: #fff;
		padding: 8px 30px;
		border:0;
		outline: 0;
		border-radius: 20px;
		cursor: pointer;
}
.vid-description {
	padding-left: 55px;
    margin:15px 0;
}
.vid-description span {
    font-size: 14;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description p {
	font-size: 14;
    margin-bottom: 5px;
    color: #5a5a5a; 
}
.vid-description h4{
	font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-commentaire {
	display: flex;
    align-items: center;
    margin:30px 0;
}	
.add-commentaire .btn-circle {
	width: 100%;
    position:relative;
    bottom:10px;	
	right: 10px;
}
.add-commentaire input{
	border: 0;
    outline: 0;
    position: relative;
    bottom: 1.4rem;
    border-bottom:1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-commentaire {
		display: block;
		align-items: center;
		margin: 20px 0;
}
.old-commentaire img 
{
	width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.old-commentaire h3 
{ 
	font-size: 14px;
    margin-bottom: 2px;
    position:relative;
    right:29px;
}
.old-commentaire h3 span {
	font-size: 12px;
	color: #5a5a5a;
	font-weight: 500;
	margin-left: 8px;
}
.old-comment p {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    position:relative;
    left:29px;
    bottom:12px;
}f
 .old-commentaire .action {
 	display: flex;
	align-items: center;
	margin: 8px 0;
	font-size: 14px;

}
.old-commentaire .action i{
	margin-right: 5px;
}
.old-commentaire .action span {
	margin-right: 20px;
	color: #5a5a5a;
}
.old-commentaire .action a{
	color: #0000ff;
}
.list-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap:30px;
	margin-top: 15px;  
}

.vid-list .thumbnail {
width: 100%;
border-radius: 5%;
}
.vid-info {
	color: #5a5a5a;
	font-size: 13px;
}
.vid-info a {
		color: #000;
		font-weight: 600;
		display: block;

} 
 .row .positon{	
	margin-left:9px;
}
 footer div .btn {
 	border-radius: 50px;
 }
.btn-commentaire {
	border: 0;
    outline: 0;
	cursor: pointer;
	background: transparent;
	position: relative;
	bottom:1rem;
	right: 20px;  
	transition: all 2s ease-in-out;
}
.btn-commentaire:hover {
   transform: rotate(45deg);
}

@media (max-width: 500px)
{

			.play-video{
				flex-basis:100%; 
			}
			.play-container {
				padding-left: 5%;
			}

			.vid-description {
				padding-left: 0;
			}
			.play-video .play-video-info a{
				margin-left: 0;
				margin-top: 15px;
			}
			.btn{
				margin-right: 12px;
			}
			.position{
				position: right;
			}
			.card-text p {
			margin-top:-0.5rem;
			}
			.old-commentaire .row .col-10 h3{
				margin-left: 4rem;
			}

 }

 	/* Debut  button partager*/
	 .popup .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }

    .popup .content {
    position:absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    height: 355px;
    width: 300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    }

    .popup .content h5 {
        font-size: 15px;
        font-weight:600;
        margin-right: 35rem;
        color: #FF0000;
     }
    .popup .content p {
       position: relative;

    }
    .popup .content strong {
      position: relative;
       right:3rem;
       text-decoration: none;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif ;
   }
   .popup .content strong a{
     text-decoration: none;
     color: #000;
 }
    .popup .close-btn {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    }
    .popup.active .overlay {
      display: block;
    }
    .popup.active .content{
      transition:all 900ms ease-in-out;
      transform: translate(-50%,-50%) scale(1);
    }
	/* Fin  button partager*/
  @media screen and (max-width:1024px) {
    #media{
        display: none;
    }
     #flui{
     margin-top: -2rem;
    }
    #tag {
    	display: none;
    }
   .popup .content {
   display: block;
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%) scale(0);
   background: #ccc;
   width: 400px;
   height: 200px;
   z-index: 2;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
   margin-top: 19.7rem;

 }
    
 }
  .btn-outline-primary {
	color: #7eba0d;
	background: none; 
	border: none;
	font-size: 15px;
	cursor: pointer;
  }
