



.play-container{
  margin-left: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.play-video{
  width: 52rem;
  margin-left:1.5rem;
}

.right-sidebar{
margin-right:2rem;
}
.play-video video{
 width: 100%;
}

.card{
	width: 14rem;
}



.side-video-list{

	display: flex;
	justify-content: space-between; 
	margin-left:2rem;	 
    
}
.side-video-list  a {
 text-decoration: none;
 color: #000;
}
.vid-infos{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	width: 200px;
	overflow: hidden;
}
.play-video h3{
	font-weight: 600;
	font-size: 22px;
}
.play-video  .play-video-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 8px;
	font-size: 14px;
	color: #5a5a5a;
}
.play-video  .play-video-info a {
	color: #5a5a5a;
	margin-bottom:;
}
.play-video-info i {
	color: red;
}
.play-video hr {
	border:0;
	height: 1px;
	background: #ccc;
	margin: 10px ;
}  
 .publisher {
 	display: flex;
 	align-items: center;
 	margin-top: 20px;
 }
  .publisher div{
   flex: 1;
   line-height: 18px;

    }
.publisher img {
	width: 70px;
   clip-path: circle();
}
.publisher div p{
	color: #000;
	font-weight: 600;
	font-size: 18px;
	margin-left:-0.5rem;
}
.publisher div span{
	font-size:13px;
	color: #5a5a5a;
}
.publisher button{
	background: red;
	color: #fff;
	padding: 8px 30px;
	border:0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}
.vid-description {
	padding-left: 55px;
	margin-left: 15px 0;
}
.vid-description p {
	font-size: 14px;
	margin-bottom: 5px;
	color: #5a5a5a; 
}
.vid-description h4{
	font-size: 14px;
	color: #5a5a5a;
	margin-top: 15px;
}
.add-commentaire {
	display: flex;
	align-items: center;
	margin: 30px 0;
}	
.add-commentaire img{
	width: 70px;
	clip-path: circle();
}
.add-commentaire input{
	border:0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-top: 10px;
	background: transparent;
}
.old-commentaire {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.old-commentaire img {
	width: 70px;
	clip-path: circle();
	margin-right: 15px;
}
.old-commentaire h3 {
	font-size: 14px;
	margin-bottom: 2px;
}
.old-commentaire h3 span {
	font-size: 12px;
	color: #5a5a5a;
	font-weight: 500;
	margin-left: 8px;
}
 .old-commentaire .action {
 	display: flex;
	align-items: center;
	margin: 8px 0;
	font-size: 14px;

}
.old-commentaire .action i{
	margin-right: 5px;
}
.old-commentaire .action span {
	margin-right: 20px;
	color: #5a5a5a;
}
.old-commentaire .action a{
	color: #0000ff;
}

@media(max-width: 900px){
	.play-video{
		flex-basis:50%; 
	}
	.right-sidebar
}