
::-webkit-scrollbar{
display: none;
}
div#topbar > #sections_btn_holder{
  position: absolute;
  margin-top: -3ex;
  right: 80px;

}
div#topbar >#sections_panel {
  position: absolute;
  width: 265px;
  height:0;
  background: #D2D2D2;
  top:50px;
  right:10px;
  overflow: hidden;
  z-index: 10000;
  transition: height 0.3s linear 0s;
  border-radius: 6px;
  box-shadow: 1px 2px;
}

div#topbar > #sections_panel > div {
  background:#fff;
  padding: 10px;
  height:260px;
  margin:2px;
}
div#topbar > #sections_panel > div > a > span {
  color: #000;
  font-size:"10";
}

div#topbar > #sections_panel > div > a > span > img {
margin-top: 0.5rem;
}

.navbar
{
    background-color: #fff;
    height: 5ex;
    border:1px solid #EDEDF0;

}

.navbar .button a {
  background-color: blue;
  color:#fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  margin-top:-2ex;
}

header.header img {
    width: 100px;
    margin-top:-2.5ex;
}

.container{
  width: 35rem;
  position: absolute;
  top:4.4rem;
  left:55%;
  transform: translate(-50%, -50%);
}

/*
.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search {
  width: 100%;-
  border:1px solid #2CA1D5;
  border-right: none;
  padding: 5px;
  height: 50px;
  outline: none;
  color: #9dbfaf;

}
.search:focus{
color: #000;
box-shadow: 0 0 2px #2CA1D5;
}
*/

/* Rechercher barre nouveau  */
.container .search-box {
  border:1px solid #ccc;
  padding: 8px 12px;
  border-radius: 25px;
}
.container .search-box input {
  border:0;
  outline: 0;
  background: transparent;
  height: 50%;
  width:95%;
}

.btn-outline-light{
  width: 55px;
  height: 50px;
  border:1px solid #2CA1D5;
  background:#D2D2D2;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}


.col {
  color:#2CA1D5 ;
}

.card-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-left: 2.4rem;
}
h6 {
  text-align: center;
  margin-left: 2.4rem;
  margin-top: -2.5rem;
}

.containers{
   background:#ffffff;
   padding-left: 5%;
   padding-right: 2%;
   padding-top: 20px;
   padding-bottom: 20px;
}
.list-container {
  width: calc(100%-250px);
  margin-top: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 20px;
  overflow-x: hidden; 
}
.vid-list #thumbnail{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    border:1px solid #2CA1D5;
  }
 .vid-list .flex-div{
   align-items: flex-start;
   margin-top: 7px;
 }
 .vid-list .flex-div img {
  /* clip-path: circle(); */
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

 }
  .vid-info
  {
     position: relative;
     display: block;
     color: #5a5a5a;
     font-size: 13px;
     bottom: 12px;
     margin-left:15%;
   }

  .vid-info a
{  
    width: 100%;
    font-weight: 600;
    color: #000;
    display: block;
    overflow: hidden;
    text-decoration: none;
    margin-top:-2rem;

 }
  .container .flex-div button
 {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: #5a5a5a;
  cursor: pointer;
  outline: 0;
 }
  .poste a {
   text-decoration: none;
 }
  i{
   display: block;
   position: relative;
 }
 @media screen and (max-width: 600px)
 {
   body
   {
      display: block;
      float: none; 
   }
    .list-container
   {
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   }
    .poste
    {
      position: relative;
      left: 15px;
          /*width:100px;  */
    }
    .btn-outline-primary {
        width: 30%;
        margin-left: 15px;
    }

   .btn-outline-success 
   {
        width: 30%;
        margin-bottom: 10px;
        margin-left: 15px;
   }
   .btn-outline-danger 
   {
        width: 30%;
        margin-left:15px;
  }
    .container
     {
        position: relative;
        width: auto;
        left: 50%;
        top:1.3rem;
    }
    .card-header 
    {
        height: 100%;
    }
    #live
    {
        margin-top: 10px;
     }
     #card
     {
        max-width:750px;
     }
     #nav
     {
        width:auto;
     }
     .dropleft
     {
        position: relative;
        right: 5px;
     }
     .text_replay {
      position: absolute;
      right:53rem; 
      
      }
     .text_index{
      position: absolute;
      right:53rem; 
     }
  }
  @media(max-width: 979px){
    .container 
    {
      width: auto;
    }
  }
  /* Debut style pour le text en absence des vidéo */
     

  /* Fin style pour le text en absence des vidéo */

      /* Debut Animation Non Disponible text */
     .text_replay  h4
     {
       position:absolute;
       left: 35rem ;
    }
    
    .text_index h4
    {
      position:absolute;
       left: 35rem ;
    }

     /* .text1{
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-bottom: 20px;
      background: #fff;
      position: relative;
      animation: text 3s 1;
     }
     .text2
     {
       color: #2CA1D5;
       font-weight: 700;
     }
     @keyframes text {
      0%{
         color: #000;
         margin-bottom: -40px;
      }
      30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
      }
     85%{
       letter-spacing: 8px;
       margin-bottom: -40px;
     }

     } */

     /* video test */

     .video
     {
       min-height: 250px;
       height: auto;
     }
     .content
     {
          width: 100%;
          height: 100px;
          display:  flex;
          justify-content: space-between;
     }