
div#topbar > #sections_btn_holder{
  position: absolute;
  margin-top: -3ex;
  right: 80px;

}

div#topbar >#sections_panel {
  position: absolute;
  width: 265px;
  height:0;
  background: #D2D2D2;
  top:50px;
  right:10px;
  overflow: hidden;
  z-index: 10000;
  transition: height 0.3s linear 0s;
  border-radius: 6px;
  box-shadow: 1px 2px;
}

div#topbar > #sections_panel > div {
  background:#fff;
  padding: 10px;
  height:260px;
  margin:2px;
}
div#topbar > #sections_panel > div > a > span {
  color: #000;
  font-size:"10";
}

div#topbar > #sections_panel > div > a > span > img {
margin-top: 0.5rem;
}

.navbar
{ 
    background-color: #fff;
    height: 5ex;
    border:1px solid #EDEDF0;
    
}


.navbar .button a {
  background-color: blue;
  color:#fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  margin-top:-2ex;
}

header.header img {
    width: 35px;
    margin-top:-2.5ex;
}

.container{
  width: 40rem;
  position: absolute;
  top:13.3%; 
  left:55%;
  transform: translate(-50%, -50%);
}
/*
.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search {
  width: 100%;
  border:1px solid #2CA1D5;
  border-right: none;
  padding: 5px;
  height: 50px;
  outline: none;
  color: #9dbfaf;
  
}
.search:focus{
color: #000;
box-shadow: 0 0 2px #2CA1D5;
}
*/

/* Rechercher barre nouveau  */

.container .mic-icon{
  width: 5%;
  margin-left:33rem; 
  margin-top: -4.5rem;
}
.container .search-box {
  border:1px solid #ccc;
  padding: 8px 12px;
  border-radius: 25px;
}
.container .search-box input {
  width: 455px;
  border:0;
  outline: 0;
  background: transparent;
} 

.btn-outline-light{
  width: 55px;
  height: 50px;
  border:1px solid #2CA1D5;
  background:#D2D2D2;
  color: #fff;
  cursor: pointer;
  font-size: 20px; 
} 


.col {
  color:#2CA1D5 ;
}

.card-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-left: 2.4rem;
}


  

h6 {
  text-align: center;
  margin-left: 2.4rem;
  margin-top: -2.5rem;
}

.containers{
   background:#f9f9f9;
   padding-left: 5%;
   padding-right: 2%;
   padding-top: 20px;
   padding-bottom: 20px; 
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-column-gap:16px;
  grid-row-gap:30px;
  margin-top: 15px; 
}
.vid-list #thumbnail{
  width: 100%;
  border-radius: 5%
}

 .vid-list .flex-div{
   align-items: flex-start;
   margin-top: 7px;
 }
 .vid-list .flex-div img {
  clip-path: circle();
  width:55px;
  margin-left:-1rem;
 }
 .vid-info {
   color: #5a5a5a;
   font-size: 13px;
   margin-left:15%;
   
   }
.vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  text-decoration: none;
   margin-top:-2rem;
}



 










  @media(max-width: 800px) {
    .poste{
         width:100px; 
    }
    .container {
       margin-top: 20px;
       width: 60%;
       margin-left: 20px;
    }
    .btn-outline-danger {
      width: 85%;
      margin-top: 10px
    }

  }


