
body{
    margin:0px;
    padding: 0;
    height: 100vh;
   }

div#topbar > #sections_btn_holder{
  position: absolute;
  margin-top: -3ex;
  right: 80px;

}

div#topbar >#sections_panel {
  position: absolute;
  width: 265px;
  height:0;
  background: #D2D2D2;
  top:50px;
  right:10px;
  overflow: hidden;
  z-index: 10000;
  transition: height 0.3s linear 0s;
  border-radius: 6px;
  box-shadow: 1px 2px;
}

div#topbar > #sections_panel > div {
  background:#fff;
  padding: 10px;
  height:260px;
  margin:2px;
}
div#topbar > #sections_panel > div > a > span {
  color: #000;
  font-size:"10";
}

div#topbar > #sections_panel > div > a > span > img {
margin-top: 0.5rem;
}

.navbar
{ 
    background-color: #fff;
    height: 5ex;
    border:1px solid #EDEDF0;
    
}


.navbar .button a {
  background-color: blue;
  color:#fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  margin-top:-2ex;
}

header.header img {
    width: 35px;
    margin-top:-2.5ex;
}

/*
 input[type="checkbox"]{
  display: none;

 }

 .box{
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  transition: .5s;
 }
.box label {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: auto;
  color: red;  
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  border-radius: 50%;
  
}
  .box label:hover{
    box-shadow: -5px -5px 10px #edeff1,
    5px 5px 2px #cacfd8;
    transform: scale(1.1);
  }
.box input {
  width: 100%;
  height: 100%;
  background-color:transparent;
  border:none;
  border-radius: 30px;
  outline:none;
  font-size: 19px;
  padding-left:20px;
  color: gray; 
  box-shadow: -5px -5px 10px #edeff1,
    5px 5px 2px #cacfd8;
    transition: .5s;
    opacity: 0;
}
 #check:checked+.box{
  width: 300px;
 }

 #check:checked+.box > input{
  opacity:1;
   }
   #check:checked+.box > label{
  box-shadow:none ; 
   }
   #check:checked+.box > label:hover{
    transform: scale(1);
   } 
*/


.max{
margin-left: 48rem;
 margin-top: -30rem;
}

}
.col-lg-8{
  margin-top:-2rem;
}

.devant {
  margin-left:12.5rem;
  margin-top: -6.5rem;
}


/*  Footer debut  */

footer{
  
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #EDEDF0;
}
footer a {
    color: black;
}
/*  Footer Fin  */

