// page banner css

.page-banner {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: -1;
    }

    .banner-content {

        .breadcrumb {
            background: none;
            justify-content: center;

            li {
                color: $theme-color;

                &::before {
                    color: $white;
                }

                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}