/*============================
blog css
============================= */

.blog-area {

    .single-blog {
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;
        background: $white;
        @include transition(.3s);
        @include box-shadow(0px 0px 61px rgba(229, 229, 229, 0.35));

        &:hover {
            @include box-shadow(0px 15px 61px rgba(229, 229, 229, 0.7));

            .blog-img {

                a img {
                    @include transform(scale(1.2));
                }
            }
        }


        .blog-img {
            overflow: hidden;

            a {
                img {
                    width: 100%;
                    @include transition(.3s);
                }
            }
        }

        .blog-content {
            padding: 30px 25px;

            h4 {

                a {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 500;
                    margin-bottom: 15px;

                    &:hover {
                        color: $theme-color;
                    }

                    @media #{$lg} {
                        font-size: 18px;
                        line-height: 26px;
                    }
                    @media #{$md} {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    @media #{$xs} {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            p {

            }
        }
    }
}