/*============================
categories css
============================= */

.categories-area {

    .category-wrapper {

        .single-category {
            padding: 50px 15px;
            margin-bottom: 30px;
            text-align: center;
            border-radius: 10px;
            background: $white;
            @include box-shadow(0px 0px 50px rgba(229, 229, 229, 0.35));
            @include transition(.3s);

            &:hover {
                @include box-shadow(0px 15px 50px rgba(229, 229, 229, 0.8));
            }

            i {
                font-size: 40px;
                color: $heading-color;
                margin-bottom: 30px;
            }

            h3 {
                font-size: 30px;
                font-weight: 500;

                @media #{$lg} {
                    font-size: 24px;
                }
                @media #{$md} {
                    font-size: 24px;
                }
                @media #{$xs} {
                    font-size: 20px;
                }
            }
        }
    }
}