/*============================
hero area css
============================= */

.hero-area {
    background-image: url('../images/hero-bg.jpg');
    position: relative;
    z-index: 1;
    padding: 280px 0 320px;

    @media #{$desktop} {
        padding: 200px 0;
    }
    @media #{$laptop} {
        padding: 200px 0px;
    }
    @media #{$lg} {
        padding: 220px 0px 180px;
    }
    @media #{$md} {
        padding: 220px 0px 180px;
    }
    @media #{$xs} {
        padding: 220px 0px 180px;
    }


    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($heading-color, .97);
        z-index: -1;
    }

    .hero-content {

        h2 {
            font-size: 55px;
            font-weight: 700;
            line-height: 65px;
            color: $white;

            @media #{$xs} {
                font-size: 42px;
                line-height: 52px;
            }
            @media #{$sm} {
                font-size: 55px;
                line-height: 65px;
            }
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: $white;
            margin-bottom: 35px;
        }

        a.main-btn {
            @include transition(.3s);

            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
    }

    .hero-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: 1;

        @media #{$laptop} {
            width: 45%;
        }
        @media #{$lg} {
            display: none;
        }
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }

        .shape {
            position: absolute;
            right: -40px;
            bottom: -40px;
            z-index: -1;
        }
    }
}

