/*============================
skill css
============================= */

.skill-area {
    position: relative;
    z-index: 1;

    .single-skill {
        padding: 35px 30px;
        border-radius: 8px;
        background: $white;
        position: relative;
        @include transition(.3s);
        overflow: hidden;
        text-align: center;
        margin-bottom: 30px;
        @include box-shadow(0px 0px 30px rgba(229, 229, 229, 0.35));
        

        &:hover {
            @include box-shadow(0px 15px 61px rgba(229, 229, 229, 0.8));
        }
        .skill-icon {
            width: 87px;
            height: 87px;
            background: $white;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include box-shadow(0px 4px 33px rgba(229, 229, 229, 0.68));

            i {
                font-size: 40px;
                color: $heading-color;
            }
        }

        .skill-content {

            h4 {
                font-weight: 500;
                font-size: 25px;
                line-height: 35px;
                margin-bottom: 25px;
            }

            p {
                font-weight: 300;
                line-height: 24px;
                font-size: 16px;
            }
        }
    }
}
