/*============================
testimonial css
============================= */

.testimonial-area {

    .testimonial-wrapper{

        .thumbnails {
            margin-bottom: 40px;

            li {
                margin: 0 20px;
                @include transition(.3s);
                @include transform(scale(.7));

                @media #{$xs} {
                    margin: 0 5px;
                }

                &.tns-nav-active {
                    @include transform(scale(1));
                }

                img {
                    width: 95px;
                    height: 95px;
                    border-radius: 50%;

                    @media #{$xs} {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }

        .testimonial-content-wrapper {
            text-align: center;

            .testimonial-info {
                margin-bottom: 30px;

                h4 {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                p {
                    font-weight: 300;
                }
            }

            .testimonial-content {
                p {
                    color: $heading-color;
                }
            }
        }
    }

    .tns-controls {
        text-align: center;
        margin-top: 50px;

        button {
            border: none;
            background: rgba($theme-color, .15);
            padding: 10px 15px;
            color: $theme-color;
            margin: 0 5px;
            border-radius: 3px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
    }
}


