/*============================
video css
============================= */

.video-area {
    position: relative;
    z-index: 1;

    .video-wrapper {
        position: absolute;
        width: 48%;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$md} {
            width: 100%;
            position: static;
            @include transform(translateY(0%));
        }
        @media #{$xs} {
            width: 100%;
            position: static;
            @include transform(translateY(0%));
        }

        .video-btn {
            position: absolute;

            .play-btn {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                border-radius: 50%;
                color: $theme-color;
                font-size: 20px;
                position: relative;
                z-index: 1;

                &:hover {
                    &::after {
                        @include transform(scale(1.3));
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    background: rgba($white, .2);
                    z-index: -1;
                    @include transform(scale(.8));
                    @include transition(.3s);
                }
            }
        }
    }

    .video-content-wrapper {
        padding: 75px 0;
        margin-left: 20px;

        .specialty-wrapper {

            .specialty-item {
                display: flex;
                margin-bottom: 30px;

                @media #{$xs} {
                    flex-direction: column;
                }
                @media #{$sm} {
                    flex-direction: row;
                }

                .specialty-icon-wrapper {

                    .specialty-icon {
                        width: 87px;
                        height: 87px;
                        background: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 30px;
                        @include box-shadow(0px 14px 33px rgba(229, 229, 229, 0.8));


                        i {
                            font-size: 35px;
                            color: $heading-color;
                        }

                        @media #{$xs} {
                            margin-bottom: 20px;
                        }
                        @media #{$sm} {
                            margin-bottom: 0px;
                        }
                    }
                }

                .specialty-content {

                    h4 {
                        font-size: 25px;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}