/*============================
welcome css
============================= */

.welcome-area {

    .welcome-content {

        @media #{$md} {
            margin-bottom: 50px;
        }
        @media #{$xs} {
            margin-bottom: 50px;
        }

        .content {

            a {
                font-size: 18px;
                color: $theme-color;
                line-height: 2;
                border-bottom: 1.5px solid $theme-color;

                i {
                    display: inline-block;
                    padding-left: 5px;
                    @include transition(.3s);
                }

                &:hover {

                    i {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}