@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  @apply text-[#747E88];
}
*:focus,
button:focus {
  @apply outline-none shadow-none;
  outline-offset: none;
  outline: none;
}

.main-btn {
  @apply inline-block font-medium text-base text-center rounded-full text-white cursor-pointer z-10 transition-all duration-300 bg-[#38424D] overflow-hidden relative px-10 py-4 hover:bg-opacity-80 hover:text-white;
  border-top-right-radius: 0px;
}

.sticky {
  @apply fixed z-[99999];
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.toggler-icon {
  @apply relative block duration-300 bg-[#38424D];
  height: 2px;
  width: 30px;
  margin: 6px 0;
}
.sticky .toggler-icon {
  @apply bg-[#38424D];
}
.active > .toggler-icon:nth-child(1) {
  @apply transform rotate-45;
  top: 7px;
}
.active > .toggler-icon:nth-child(2) {
  @apply opacity-0;
}
.active > .toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}

.navbar-nav .nav-item a {
  @apply inline-block text-base font-normal text-[#747E88] relative z-10 py-2 lg:py-1 hover:text-[#F94F4F];
}
.navbar-nav .nav-item a.active {
  @apply text-[#F94F4F];
}

.navbar-collapse.show {
  @apply block;
}

.header_shape::before {
  content: "";
  @apply absolute top-0 left-0 h-full w-[200%] bg-[#f5f5fc] skew-x-[-15deg];
}

.single_service {
  @apply border-2 border-dashed border-[#e8e8e8] rounded-xl py-[52px] px-6 sm:py-6 sm:px-4 md:py-[52px] md:px-6 transition-all duration-[300ms] hover:border-[#F94F4F] hover:shadow text-center mt-8 mx-3;
}

.single_service i {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-5xl text-[#F94F4F] transition-all duration-300;
}

/* ====== team css ====== */

.tns-nav {
  @apply absolute -bottom-5 left-0 w-full flex items-center justify-center z-10;
}
.tns-nav button {
  @apply w-3 h-3 rounded-full border-none bg-[#f94f4f] bg-opacity-30 mx-2 hover:bg-opacity-100;
}
.tns-nav button.tns-nav-active {
  @apply bg-opacity-100;
}

/*  ====== pricing css ====== */
.pricing_menu .active {
  @apply bg-[#f94f4f] text-white;
}
.pricing_content .tab-pane {
  display: none;
}
.pricing_content .tab-pane.active {
  display: block;
}

.pricing_btn {
  @apply py-3 px-6 text-[#747E88] mt-8 rounded-md bg-[#fff1f1] hover:bg-[#f94f4f];
}

.single_pricing.active .pricing_btn {
  @apply bg-[#f94f4f] text-white;
}

.single_pricing.active {
  @apply border-[#f94f4f] shadow;
}
.single_pricing.active .pricing_title .title {
  @apply text-white;
}
.single_pricing.active .services_shape,
.single_pricing:hover .services_shape {
  @apply fill-current text-[#f94f4f];
}

/* ======== contact css ========= */
.contact-btn {
  @apply bg-[#f94f4f] text-white py-4 px-10 rounded-md hover:bg-opacity-80;
}

/* =========== footer ========== */
.subscribe-btn {
  @apply mt-3 md:mt-0 md:absolute top-1 right-1 py-4 bg-[#f94f4f] rounded-full hover:bg-opacity-80;
}
.footer_social li a {
  @apply w-8 h-8 rounded-full bg-white bg-opacity-10 text-white flex items-center justify-center hover:text-[#f94f4f] hover:bg-opacity-100;
}
